<mat-toolbar color="primary">
  <span>ADMIN</span>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon matListIcon>table_chart</mat-icon>
        <a matLine [routerLink]="['projects']">
          PROJECTS</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>supervisor_account</mat-icon>
        <a matLine [routerLink]="['users']">USERS</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>library_add_check</mat-icon>
        <a matLine [routerLink]="['statuses']">STATUSES</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>priority_high</mat-icon>
        <a matLine [routerLink]="['priorities']">PRIORITIES</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


