.table-container {
  max-height: 80vh;
  overflow: auto;
}

table {
  width: 100%;
}

tr.mat-row:hover {
  background-color: rgba(63, 81, 181, 0.5);
}

.btn-add {
  margin: 10px;
}

.color-chip {
  width: 40px;
  height: 20px;
  border-radius: 10px;
}
