<div class="btn-add">
  <button mat-fab aria-label="Create new project" (click)="openAddForm()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created</th>
      <td mat-cell *matCellDef="let element"> {{element.created | date}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Identity Column -->
    <ng-container matColumnDef="identity">
      <th mat-header-cell *matHeaderCellDef> Identity</th>
      <td mat-cell *matCellDef="let element"> {{element.identity}} </td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="details" (click)="openDetails(element)">
          <mat-icon>description</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Tasks Column -->
    <ng-container matColumnDef="tasks">
      <th mat-header-cell *matHeaderCellDef> Tasks</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="tasks" [routerLink]="[element.id, 'tasks']">
          <mat-icon>assignment_turned_in</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="edit" (click)="openEditForm(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="delete" (click)="openDeleteMsg(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
