mat-card {
  width: 200px;
  margin: 10px;
  padding-top: 0;
  border-radius: 20px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

mat-card-content {
  margin-bottom: 0;
}

.user-avatar {
  border-radius: 20px;
  border: solid gray 2px;
  padding: 5px;
  font-size: 12px;
}
