<h1 mat-dialog-title>Add new task</h1>
<mat-error *ngIf="taskService.error$ | async as error">
  {{error}}
</mat-error>
<div mat-dialog-content>
  <form [formGroup]="form">

    <!--    Theme-->
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Theme" formControlName="theme">
      <mat-error *ngIf="form.get('theme').hasError('required')">
        Theme is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!--    Type-->
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Type" formControlName="type">
    </mat-form-field>

    <!--    Priority-->
    <mat-form-field class="input-full-width">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority" [compareWith]="comparePriorities">
        <mat-option *ngFor="let priority of priorities" [value]="priority">{{priority.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!--    Status-->
    <mat-form-field class="input-full-width">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" [compareWith]="compareStatuses">
        <mat-option *ngFor="let status of statuses" [value]="status">{{status.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!--    Description-->
    <mat-form-field class="input-full-width">
      <textarea matInput #description maxlength="255" placeholder="Description" formControlName="description"
                cdkTextareaAutosize></textarea>
      <mat-hint align="start" *ngIf="form.get('description').hasError('maxlength')">
        <strong class="mat-error">To long</strong>
      </mat-hint>
      <mat-hint align="end">{{description.value.length}} / 255</mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">CANCEL</button>
  <button mat-button (click)="save()" [disabled]="form.invalid">SAVE</button>
</div>
